---
const allPages = await Astro.glob('../pages/*.astro');
const pages = [
    {
        name: 'Accueil',
        url: '/',
    },
    {
        name: 'À propos',
        url: '/about/',
    },
    {
        name: 'Blog',
        url: '/blog/',
    },
    {
        name: 'Etiquettes',
        url: '/tags/',
    }
]
---

<div class="nav-links">
    {pages.map((page) => 
        <a href={page.url}>{page.name}</a>
    )}
</div>
